<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.firefingers21.fifaworldcupstats</string>
	<key>category</key>
	<string>Shared</string>
	<key>connections</key>
	<dict>
		<key>013E7DC5-4276-4EA8-9882-43E691491628</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E9CD3B0-3C32-4111-9AD6-72314F4C50EE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CFE47109-8F46-4517-904B-55F306FD441C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>141CD8DA-5E89-410E-BDBC-92E694A86FC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27EBBA94-E672-42ED-8DD9-4CAEB06B16DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2019B0F3-9D0B-4B28-9A24-51A8E3BAC555</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4700133B-A9CC-4AC2-A73F-FF3D0F475FE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>152D09E4-E7D4-4B28-85D3-A338E4208BC3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F14E3EF2-D711-4289-A92A-73C17F07CF8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21AA0846-593F-4C61-AE67-E0211DA2546A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36BC2A5D-75B1-48EA-8B8E-465794BFE78D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5162908A-C70C-4251-9BF9-4A477BC67AFA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>241A366E-E084-4CBD-B319-632AF3CF787B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D2BBEA5-0035-411B-80E9-722420550411</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3239E521-04A1-4420-B4CA-48596688FD31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>241A366E-E084-4CBD-B319-632AF3CF787B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8BF92979-3E8C-43C7-90B6-C5201DF0C6BC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4C5F95B-CA8E-4CE6-B248-3600C8E276CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F000AA1F-B514-44F9-9998-05E2CF51534F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4C5F95B-CA8E-4CE6-B248-3600C8E276CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D2A60E8C-8398-4E84-88A9-B2845359EF8F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C73D954-5C5D-4C3A-ABE8-E3A05B43B40E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>013E7DC5-4276-4EA8-9882-43E691491628</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F7CABD6-D623-41A1-BFEF-8DA9405D12EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FA9BFFC-366D-4872-9979-8DBF3A13B495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FA9BFFC-366D-4872-9979-8DBF3A13B495</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B20D1D12-7313-4ABE-A470-4DCB8300E9E1</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2019B0F3-9D0B-4B28-9A24-51A8E3BAC555</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>8E9CD3B0-3C32-4111-9AD6-72314F4C50EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BD87380-5612-4D8E-95E3-355E102871F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EF4842D8-C04F-434D-B1FF-3D8F0B6126C5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C7EF758-C860-4275-AC49-B8DE4B019A03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE18758B-5A82-4EFF-8EF6-2371B7E128E1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥↩ Update Now</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D2BBEA5-0035-411B-80E9-722420550411</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21AA0846-593F-4C61-AE67-E0211DA2546A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B20D1D12-7313-4ABE-A470-4DCB8300E9E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>141CD8DA-5E89-410E-BDBC-92E694A86FC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EF4842D8-C04F-434D-B1FF-3D8F0B6126C5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFE47109-8F46-4517-904B-55F306FD441C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF4464AD-85B7-4FA8-8437-21C5F361E82B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>152D09E4-E7D4-4B28-85D3-A338E4208BC3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>56537B7B-181D-485E-9C38-3927C2615D9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D152973B-1A3C-423C-A1E7-12B72B2B19E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3239E521-04A1-4420-B4CA-48596688FD31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F14E3EF2-D711-4289-A92A-73C17F07CF8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C7EF758-C860-4275-AC49-B8DE4B019A03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FireFingers21</string>
	<key>description</key>
	<string>View the current FIFA World Cup standings &amp; stats</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FIFA World Cup Stats</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ObjC.import("stdlib")

if ($.getenv("favTeamNew") === $.getenv("favTeam")) {
	Application("com.runningwithcrayons.Alfred").setConfiguration("favTeam", {
		toValue: "",
		inWorkflow: $.getenv("alfred_workflow_bundleid")
	})
} else {
	Application("com.runningwithcrayons.Alfred").setConfiguration("favTeam", {
		toValue: $.getenv("favTeamNew"),
		inWorkflow: $.getenv("alfred_workflow_bundleid")
	})
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>141CD8DA-5E89-410E-BDBC-92E694A86FC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:favTeamNew}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>EF4842D8-C04F-434D-B1FF-3D8F0B6126C5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B20D1D12-7313-4ABE-A470-4DCB8300E9E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:keyword} </string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>27EBBA94-E672-42ED-8DD9-4CAEB06B16DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>reload</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>4700133B-A9CC-4AC2-A73F-FF3D0F475FE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4F7CABD6-D623-41A1-BFEF-8DA9405D12EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:standings_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/standings.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>View the current World Cup standings</string>
				<key>title</key>
				<string>FIFA World Cup Standings</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7FA9BFFC-366D-4872-9979-8DBF3A13B495</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reload</string>
						<key>outputlabel</key>
						<string>reload</string>
						<key>uid</key>
						<string>152D09E4-E7D4-4B28-85D3-A338E4208BC3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2019B0F3-9D0B-4B28-9A24-51A8E3BAC555</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>getStats</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BE18758B-5A82-4EFF-8EF6-2371B7E128E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>scripts/getStats.sh</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>getStats</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>9C7EF758-C860-4275-AC49-B8DE4B019A03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Generate small team icon
[[ ! -f "${icons_dir}/${countryId}small.png" ]] &amp;&amp; sips -s dpiHeight 72 -s dpiWidth 72 -s format png -o "${icons_dir}/${countryId}small.png" --resampleHeightWidthMax 64 "${icons_dir}/${countryId}.png"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F14E3EF2-D711-4289-A92A-73C17F07CF8A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listSchedule</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6BD87380-5612-4D8E-95E3-355E102871F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:showOldEvents}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>EF4842D8-C04F-434D-B1FF-3D8F0B6126C5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8E9CD3B0-3C32-4111-9AD6-72314F4C50EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>reload</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>CF4464AD-85B7-4FA8-8437-21C5F361E82B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:schedule_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/schedule.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>View the current World Cup schedule</string>
				<key>title</key>
				<string>FIFA World Cup Schedule</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>listSchedule</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>013E7DC5-4276-4EA8-9882-43E691491628</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4C73D954-5C5D-4C3A-ABE8-E3A05B43B40E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reload</string>
						<key>outputlabel</key>
						<string>reload</string>
						<key>uid</key>
						<string>152D09E4-E7D4-4B28-85D3-A338E4208BC3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>results</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CFE47109-8F46-4517-904B-55F306FD441C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.fifa.com/en/match-centre/match/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>56537B7B-181D-485E-9C38-3927C2615D9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/reload.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>reload</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>241A366E-E084-4CBD-B319-632AF3CF787B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9D2BBEA5-0035-411B-80E9-722420550411</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Standings Updated</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>5162908A-C70C-4251-9BF9-4A477BC67AFA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>21AA0846-593F-4C61-AE67-E0211DA2546A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:keyword} </string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>36BC2A5D-75B1-48EA-8B8E-465794BFE78D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D4C5F95B-CA8E-4CE6-B248-3600C8E276CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:standings_keyword}::||{var:standings_keyword} ::||{var:schedule_keyword}::||{var:schedule_keyword} ::</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/configuration.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D152973B-1A3C-423C-A1E7-12B72B2B19E2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:pref_id}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reload</string>
						<key>outputlabel</key>
						<string>reload</string>
						<key>uid</key>
						<string>8BF92979-3E8C-43C7-90B6-C5201DF0C6BC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:pref_id}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>F000AA1F-B514-44F9-9998-05E2CF51534F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:pref_id}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>configure</string>
						<key>outputlabel</key>
						<string>configure</string>
						<key>uid</key>
						<string>D2A60E8C-8398-4E84-88A9-B2845359EF8F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Browser</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3239E521-04A1-4420-B4CA-48596688FD31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

This workflow requires [jq](https://jqlang.github.io/jq/) to function, which comes preinstalled on macOS 15 Sequoia and later.

## Usage

View the current [FIFA World Cup](https://www.fifa.com/worldcup) schedule via the `sfifa` keyword, adjusted to your local time zone. Type to filter by Country, Group, Stadium/City, Stage/Knockout, Date, or Favourite.

![Using the sfifa keyword](images/about/keywordSchedule.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open Match in Browser.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Show/Hide Old Matches.

Use the `fifa` keyword to view the current World Cup Standings. Type to filter by Country, Position, or Group.

![Using the fifa keyword](images/about/keywordStandings.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; View Team Stats in Alfred.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Set/Unset Favourite Team.

Additional Team Stats can be viewed directly within Alfred. This includes Attacking, Defending, Possession, and Disciplinary Stats.

![Viewing team stats in the Text View](images/about/stats.png)

* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Refresh Team Stats.

Append `::` to the configured [Keywords](https://www.alfredapp.com/help/workflows/inputs/keyword) to access other actions, such as manually reloading the Standings &amp; Schedule cache.

![Other actions](images/about/inlineSettings.png)

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) as shortcuts for viewing the standings and schedule.</string>
	<key>uidata</key>
	<dict>
		<key>013E7DC5-4276-4EA8-9882-43E691491628</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Schedule Keyword</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>0DD1E24C-ADA8-4222-9628-F5EDA7E36E0E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>141CD8DA-5E89-410E-BDBC-92E694A86FC4</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Set Favourite Team</string>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2019B0F3-9D0B-4B28-9A24-51A8E3BAC555</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>21AA0846-593F-4C61-AE67-E0211DA2546A</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>241A366E-E084-4CBD-B319-632AF3CF787B</key>
		<dict>
			<key>note</key>
			<string>Reload Standings</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>27EBBA94-E672-42ED-8DD9-4CAEB06B16DE</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>3239E521-04A1-4420-B4CA-48596688FD31</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>36BC2A5D-75B1-48EA-8B8E-465794BFE78D</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>4700133B-A9CC-4AC2-A73F-FF3D0F475FE8</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>4C73D954-5C5D-4C3A-ABE8-E3A05B43B40E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>4F7CABD6-D623-41A1-BFEF-8DA9405D12EA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>56537B7B-181D-485E-9C38-3927C2615D9A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Open Match in Browser</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>6BD87380-5612-4D8E-95E3-355E102871F7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>7FA9BFFC-366D-4872-9979-8DBF3A13B495</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Standings Keyword</string>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>8E9CD3B0-3C32-4111-9AD6-72314F4C50EE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>9C7EF758-C860-4275-AC49-B8DE4B019A03</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>View Team Stats</string>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>9D2BBEA5-0035-411B-80E9-722420550411</key>
		<dict>
			<key>note</key>
			<string>Notify if successful</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>B20D1D12-7313-4ABE-A470-4DCB8300E9E1</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>BE18758B-5A82-4EFF-8EF6-2371B7E128E1</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>CF4464AD-85B7-4FA8-8437-21C5F361E82B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>CFE47109-8F46-4517-904B-55F306FD441C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>D152973B-1A3C-423C-A1E7-12B72B2B19E2</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Configuration</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>D4C5F95B-CA8E-4CE6-B248-3600C8E276CC</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>F14E3EF2-D711-4289-A92A-73C17F07CF8A</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Generate Small Icon</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>fifa</string>
				<key>placeholder</key>
				<string>fifa</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Standings Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>standings_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>sfifa</string>
				<key>placeholder</key>
				<string>sfifa</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywords for viewing the Standings and Schedules.</string>
			<key>label</key>
			<string>Schedule Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>schedule_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Always show time of Live matches</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Appearance</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>showNowTime</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Always show time of Finished matches</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>showDoneTime</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>60</integer>
				<key>markercount</key>
				<integer>12</integer>
				<key>maxvalue</key>
				<integer>60</integer>
				<key>minvalue</key>
				<integer>5</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Interval to automatically refresh standings in minutes.</string>
			<key>label</key>
			<string>Auto-Update</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>autoUpdate</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Team Name</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Optionally choose a team to highlight in Standings &amp; Schedules.</string>
			<key>label</key>
			<string>Favourite Team</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>favTeam</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show results in Schedule</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Spoilers</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>spoilSchedule</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Search hidden results in Schedule</string>
			</dict>
			<key>description</key>
			<string>Optionally include match results &amp; qualified teams in the Schedule.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>spoilSearch</string>
		</dict>
	</array>
	<key>version</key>
	<string>2026.6.1</string>
	<key>webaddress</key>
	<string>https://github.com/FireFingers21/alfred-fifa-world-cup-stats</string>
</dict>
</plist>
